.banner {
  padding: 200px 0;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}


.banner h1 {
  margin-top: 0;
}

.banner a {
  display: inline-block;
}

